body {
    font-family: 'Oswald',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
}

.tomato {
    color: tomato;
}

p {
    color: darkgreen;
}

h3 {
    color: darkgreen;

}

h1 {
    color: darkgreen;
}

h6 {
    color: darkgreen;
}

.flexible-container {
    display: flex;
    margin: 0;


}

.half-width {
    width: 50%;
    padding: 5% 5%;

}

.half-width img {
    width: 100%;
}

.anchor-decor {
    color: rgb(42, 135, 5);
    text-decoration: none;
    background-image: linear-gradient(yellow, tomato);
    padding: 5px 15px;
    border-radius: 7%;
    font-weight: 700;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.last-section {
    padding: 5%;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px crimson;
    border-radius: 2%;

}

.exp-bg {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer {
    padding-top: 2cm;
    text-align: center;
}

#experience {
    font-weight: 900;
    padding-left: 2cm;
}